{% extends 'main/main.html' %}
{% load static %}

{% block content %}
<head>
    <style>
    body {
        background-color: #0a2248;
    }
</style>
</head>




<div class="row justify-content-center" style="margin-top: 100px;">
    <div class="col-md-7">
        <div class="card card-body text-center">

            <h1>Uni Planner</h1>
            <h3>A space to organise your life...</h3>

            <hr>

            <h4>By Steven, Vedant, and Diya</h4>
            
        </div>
    </div>
</div>

{% endblock %}