{% extends 'main/main.html' %}
{% load static %}

{% block content %}
<head>
    <style>
        body {
            background-color: #0a2248;
        }

        .card.card-body {
            background-color: #1a2f4f; /* Blue matching other pages */
            color: #e8f0fb; /* Light text for contrast */
            border-radius: 12px;
            box-shadow: 0 0 20px rgba(0,0,0,0.4);
            padding: 30px;
        }
    </style>
</head>

<div class="row justify-content-center" style="margin-top: 100px;">
    <div class="col-md-7">
        <div class="card card-body text-center">

            <h1>Uni Planner</h1>
            <h3>A space to organise your life...</h3>

            <hr style="border-color: #315485;">

            <h4>By Steven, Vedant, and Diya</h4>
            
        </div>
    </div>
</div>

{% endblock %}
